@import "../../sass/vars.sass"

.enter-section
	padding: $indents
	.title-wrap
		text-align: center
		h2
			font-size: 34px
	.es-form
		padding-top: 60px
		form
			font-size: 21px
			input[type='submit']
				width: 300px
				margin-top: 40px
				line-height: 40px
				color: #fff
			input
				display: block
				width: 74%
				height: 50px
				outline: none
				box-sizing: border-box
				padding: 5px 10px
				color: $main_color_red
			label
				color: $main_color_red
				margin-top: 40px
				padding-left: 15px
			a
				color: $main_color_orange
				padding-top: 40px
				display: block
				transition: $trans
				&:hover
					/* style */
					color: $main_color_red



@import '../../sass/_media.sass'